extends layout 

block content
    body
        .container-fluid.offset-md-1
            .row
                .packageheading
                    h3 Car Washing Packages
            .row
                .col-2
                    .card
                        .card-header
                            | Small Cars
                        .card-body
                            ul.list-group.list-group-flush
                                li.list-group-item 10,000 Ush
                .col-2
                    .card
                        .card-header
                            | Medium Cars
                        .card-body
                            ul.list-group.list-group-flush
                                li.list-group-item 15,000 Ush
                .col-2
                    .card
                        .card-header
                            | Full Wash
                        .card-body
                            ul.list-group.list-group-flush
                                li.list-group-item 20,000 Ush                
                .col-2
                    .card
                        .card-header
                            | Boda Boda
                        .card-body
                            ul.list-group.list-group-flush
                                li.list-group-item 5,000 Ush
                .col-2
                    .card
                        .card-header
                            | Engine
                        .card-body
                            ul.list-group.list-group-flush
                                li.list-group-item 10,000 Ush
        hr
        .carwashtrack
            h4
                strong Car Wash Tracking
            .container
                form.costmonitorform(action='/carwashtracking' method='POST')
                    .part1.col-lg-8
                        input.costmonitor(type='text' name='carmodel' placeholder='Car Model' required='') 
                        br
                        input.costmonitor(type='text' name='carnumberplate' placeholder='Car Number plate' required='')
                        br
                        input.costmonitor(type='text' name='carcolour' placeholder='Car Colour' required='')
                        br
                        select#costmonitorpackages(style="font-size:15px;" name='costmonitorpackages')
                            option(selected) Package
                            option(value='smallcars') Small Cars
                            option(value='mediumcars') Medium Cars
                            option(value='fullwash') Full Wash
                            option(value='bodaboda') Boda Boda
                            option(value='engine') Engine
                    .part2.col-lg-8
                        input.costmonitor(type='text' name='dateArrived' onfocus="(this.type='date')" placeholder='Date of Arrival' required='')
                        br
                        input.costmonitor(type='text' name='timeArrived' onfocus="(this.type='time')" placeholder='Time of Arrival' required='')
                        br
                        select.washer(name="washer")
                            if washers.length
                                each washer in washers 
                                    option(value=washer._id) #{washer.fullname}
                        br
                        
                    button.costmonitorbutton(type='submit') Submit
