extends layout 

block content
    body#managerpage
        .inventheader
            h5(style='font-size: 40px;') Zawash Expenses
            
        if alert == "success"
            div.alert.alert-success Expenses sent.
        if alert == "error"
            div.alert.alert-danger Failed to send.  

        .expense
            form(action='/expense' method='POST')
                table.table.table-bordered
                    thead
                        tr
                            th.tableheader Date
                            th.tableheader Inventory
                            th.tableheader Price
                    tbody
                        tr
                            td
                                input.expenseinput(type='text' onfocus="(this.type='date')" name='dateofExpense' placeholder='Date')
                            td
                                select#items(name='item')
                                    option(value="polish") Polish
                                    option(value="electricty") Electricity
                                    option(value="water") Water
                                    option(value="salaries") Salaries
                                br
                            td
                                input.expenseinput(type='number' name='price' placeholder='Price')
                            br
                button.expensebutton(type='Submit') Send

