extends layout 

block content
    body#managerpage
        .container
            .row
                .col-12.mx-auto.shadow-lg.p-md-4.p-5
                    .row.align-items-center
                        .col-md-5.col-5.d-none.d-md-inline-block
                            img.resize(src='./Images/black-man-holds-microfiber-hand-polishes-car-auto-service_183219-2508.jpeg')
                        .col-md-1.col-1
                        .col-md-6.col-6
                            h1#zarwash.mb-4 ZaCAR WASH
                            form.form(name='login' action='/login' method='POST')
                                div
                                input.form-control.form-control-lg.mb-3(aria-label='Email' type='email' name='emailAddress' placeholder='Email Address' size='30px')
                                div
                                input.form-control.form-control-lg.mb-3(aria-label='password' type='password' name='password' placeholder='Password' size='30px')
                                div
                                button.btn.btn-dark.btn-lg(type='submit') Login
                            span.forgot-password
                                a#link-reset(href='#' title='Forgot Password') Forgot Password?
                                br
                                br
                                .text-centre
                            
                div
