extends layout 

block content
  body#registerpage 
   
    div
      if alert == "success"
        div.alert.alert-success Washer added successfully
      if alert == "error"
        div.alert.alert-danger An error occurred, failed to add washer   
      h2.zacarwashregister
        strong ZaCar Wash Registry
    
    
    #registerform
      form.register#register.badge-dark(action='/register' method='POST' name="registerform" onsubmit="return register();")
        .form1
          small#fullnameerror
          input.registrationform(type='text'  name='fullname' placeholder='Name')
          br
          select(name='gender')
            option.gender(value="") Gender
            option Female
            option Male
          br
          input.registrationform#dateofbirth(type='text' max="2003-12-01" onfocus="(this.type='date')" name='dob'  placeholder='Date Of Birth')
          br
        .form2
          input.registrationform(type='text' name='nin' placeholder='Enter ID Number')
          br
          input.registrationform(type='text' name='placeofresidence'  placeholder='Place of Residence.')
          br
          input.registrationform(type='text and number' name='zacarids'  placeholder='Employes IDs') 
        br
        br
        br
        button.buttonregistration(type='submit') Submit
        
