extends layout 

block content
  body    
    div
      h2.zacarwashregister
        strong ZaCar Wash Registry
    
    
    .container#registerform
      form.register(action='/register' method='POST')
        .form1
          input.registrationform(type='names' name='name' placeholder='Name' required='')
          br
          select(name='gender')
            option.gender Gender
            option Female
            option Male
          br
          input.registrationform(type='date' name='dob' placeholder='Date Of Birth' required='')
          br
        .form2
          input.registrationform(type='text' name='nin' placeholder='Enter ID Number' required='')
          br
          input.registrationform(type='text' name='placeofresidence' placeholder='Place of Residence.' required='')
          br
          input.registrationform(type='text and number' name='zacarids' placeholder='Employes IDs' required='') 
        br
        br
        br
        button.buttonregistration Submit
