extends layout 

block content
  body
    nav.navbar.navbar-expand-lg.navbar-.lighter.bg-light(style='margin-top: 20px;')
      .container-fluid
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav
            li#nav-home.nav-item
              a.nav-link(href='index.html') Home
            li#nav-home.nav-item
              a.nav-link(href='/') Login
    div
      h2.zacarwashregister
        strong ZaCar Wash Registry
    
    
    .container#registerform
      form.register(action='/register' method='POST')
        .form1
          input.registrationform(type='names' name='name' placeholder='Name' required='')
          br
          select
            option.gender Gender
            option Female
            option Male
          br
          input.registrationform(type='date' name='dob' placeholder='Date Of Birth' required='')
          br
        .form2
          input.registrationform(type='text' name='nin' placeholder='Enter ID Number' required='')
          br
          input.registrationform(type='text' name='placeofresidence' placeholder='Place of Residence.' required='')
          br
          input.registrationform(type='text and number' name='zacarids' placeholder='Employes IDs' required='') 
        br
        br
        br
        button.buttonregistration Submit
    script(src='zacarwash.js')
