extends layout

block content
    body
        br
        if alert == "success"
            div.alert.alert-success Manager added successfully
        if alert == "error"
            div.alert.alert-danger An error occurred, failed to add manager
        form(method="POST" action='/manager')
            div.form-row
                div.col.form-group
                    input.form-control(name="emailAddress" placeholder='Email Address')
                div.col.form-group
                    input.form-control(type="password" name="password" placeholder='Password')
            div.form-row
                div.col.form-group
                    button.btn.btn-primary.btn-block Add manager
                            