#imglogo {
        width: 100px;
        height: 60px;
        margin-left: 60px;
    }
.resize {
    width: 350px;
    height : 300px;
}
.home{
    height: 450px;
    width: 700px;
    
}
/* .navbar-nav{
    color: black;
} */

/* styles the home page */
#welcome {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(55, 55, 55);
    padding-top: 50px;
    text-align: center;   
}
#whyus{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 30px;
}
.list{
    margin-left: 30px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.locationt{
    font-size: 25px;
    
}
.location{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;

}
.col-sm-6{
    background-color: rgb(242, 242, 242, 0.3);
    
}

html, body {
	height: 90%;
}

#zarwash {
    color: cornflowerblue;
    margin-top: 30px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
::placeholder {
font-size:14px;
letter-spacing:0.5px;
}
/* Edits login input */
.form-control-lg {
	font-size: 16px;
	padding: 25px 20px;
	border-radius: 50;
    height: 20px;
    float: right;
}
.bg-image {
	background: url(Images/cleaning-1837328_960_720.jpeg);
	background-position: center;
}
/* container for login page */

.container {
	/* height: 80%; */
    width: 200%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 765px;
	margin-top: 20px;
    color: white;
}
.form-control-lg {
    height: 20px;
    float: right; 
}
.navbar-expand-lg{
    margin-top: 20px;   
}

.copyright{
    text-align: center;
    font-size: 18px;
    /* margin-left: 67%; */
    color: rgba(6, 6, 6, 0.7);
}


/* stylying the register form */
#registerpage {
    background: rgb(255, 254, 254);
    background: linear-gradient(90deg, rgb(242, 242, 242, 0.3) 0%, rgb(109, 153, 240) 210%);
}
.zacarwashregister {
    margin-top: 30px;
    background-color: azure;
    font-size: 40px;
    color: #0d6efd; 
    text-align: center;  
}
.register {
    background: linear-gradient(to left, #949090b8, #4087f0b9), url("/images/wash-interior.jpeg");  
    width: 650px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 100px;
    text-align: center;
}
.registrationform {
    margin-top: 20px;
    width: 90%;
    border: none;
    border-radius: 12px;
    padding: 8px;   
}
select {
    margin-top: 20px;
    width: 90%;
    border: none;
    border-radius: 12px;
    padding: 9.5px;
    color: grey;
}
.buttonregistration {
    margin-top: 20px;
    width: 95%;
    border: none;
    border-radius: 12px;
    padding: 8px;
    font-size: 20px;
}
.form1{
    width: 50%;
    float: left;
}

.form2{
    width: 50%;
    float: right;
}
button:hover{
    background-color: rgb(92, 146, 247);
}

/* styling the carwashtracker form */
#carwashbody{
   background: rgb(255, 254, 254);
   background: linear-gradient(90deg, rgb(242, 242, 242, 0.3) 0%, rgb(109, 153, 240) 210%);  
}

.carwashtrack{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;  
}
.packageheading{
    padding-left: 400px;
    font-size: 10px;
}
.card{
    height: 80px;
}
.card-header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
}
.card-body{
    width: 160px;
    height: 50px;
    padding: 0px;
    text-align: center;
}
.list-group-flush{
    text-align: center;
    display: inline;

}
hr {
    box-shadow: 0 20px 20px -20px #333;
}

.costmonitorform{
    background-image: url(/images/carlightwash.jpg);
    background: linear-gradient(to bottom, #000000b8, #4087f0b9), url("/images/carlightwash.jpg");  
    width: 700px;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
} 
.costmonitor{
    margin-top: 20px;
    width: 90%;
    height: 40px;
    border: none;
    padding: 5px;   
}
.costmonitorbutton{
    margin-top: 20px;
    width: 95%;
    height: 15%;
    border: none;
    padding: 5px;
    font-size: 20px;
}
.part1{
    float: left;
    width: 50%;
} 
.part2{
    float: left;
    width: 50%;
} 
#costmonitorpackages{
    margin-top: 20px;
    width: 95%;
    height: 40px;
    border-radius: 0px; 
    padding: 5px;
}
.washer{
    width: 90%;
    height: 40px;
    border-radius: 0px; 
    padding: 0px;
}
/* styling the expense.html */
#expensebody{

    background-image: linear-gradient(90deg, rgb(242, 242, 242, 0.3) 0%, rgb(109, 153, 240) 210%);
}
.inventheader{
    text-align: center;
    color: black;
    margin-top: 20px;
    font-size: 40px;
    text-shadow: 2px 2px aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}
.expenseinput{
    width: 250px;
    
}

.expense{
    text-align: center;
    width: 60%;
    height: 30%;
    margin:auto;
    margin-top: 40px;

}
.tableheader{
    font-size: 20px;
    padding: 0px;
}
.table-bordered{
    border: #9cbff4;
    box-shadow: 4px 4px 2px #464646;
    background-color: white;
    height: 100px;
    
}
#items{
    border: 1px solid;
    width: 250px;
    height: 30px;
    border-radius: 0px;
    margin-top: 0px;
    padding: 0px;
    background-color: aliceblue;   
}
.expensebutton{
    width: 800px;
    height: 40px;
    border: none;
    padding: 0px;
    font-size: 20px;
}

/* styling the dashboard */
#dashboardbody{
     background: rgb(255, 254, 254);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.931) 0%,rgb(55, 55, 55) 300%);
}

#dashboardsearch{
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}
#datedashboard{
    width: 505px;
    margin-left: 70px;
    font-size: 18px;
    color: black;
}
#dashboardbutton{
    width: 220px;
    margin-right: 200px;
}


.dashboardheading{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 30px;
    color: #4087f0;
} 

.expensetable{
    margin: auto;
    margin-top: 10px;
    width: 60%;  
    table-layout: fixed; 
    background-color: white;
}  
.dashboardhead {
    color: #4087f0;
    font-size: 20px;
    text-align: center;
    border-bottom: #4087f0 solid 2px;
} 
.dashboardtr{
    padding: 0px;
    text-align: center;
} 

/* styling the washer report */
.washerdetailsreport{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #4087f0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;

}
 .washertable{
    margin: auto;
    border: #4087f0 solid 1px;
    text-align: center;  
    padding: 10px;
    table-layout: fixed;
    width: 70%;
}
td, th, tr{
    margin: auto;
    margin-top: 5px;
    border: #4087f0 solid 1px;
    text-align: center;  
    padding: 10px;
    
} 

/* styling the car wash report */
 .carwashtrackheading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    color: #4087f0;
}

.search{
    margin: auto;
    width: 70%;
}
.col-md-8{
    float: left;
}
.col-md-4{
    float: right;
    padding-left: 10px;
} 
.carwashtable{
    margin: auto;
    border: #4087f0 solid 1px;
    text-align: center;  
    padding: 10px;
    table-layout: fixed;
    width: 70%;
} 
.carwashtracktd{
    margin: auto;
    margin-top: 5px;
    border: #4087f0 solid 1px;
    text-align: center;  
    padding: 10px;   
}
/* styling the expense report */
.expensereporttable{
    margin: auto;
    border: #4087f0 solid 1px;
    text-align: center;  
    padding: 10px;
    table-layout: fixed;
    width: 70%;
}

/* style register manager page */
#managerpage{
    /* background-image:  linear-gradient (to left, #ffffffb8, #2478f7b9) */
    background: rgb(255, 254, 254);
    background: linear-gradient(90deg, rgb(242, 242, 242, 0.3) 0%, rgb(109, 153, 240) 210%);
    
}

.Addmanagertitle{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;

    text-shadow:1px 1px rgb(18, 19, 18);
    margin: 20px;
    color: #4087f0;
}
.managerform{
    background: linear-gradient(to right, #d7d6d6b8, #0c69f4b9), url(/images/car.jpeg);
    margin: auto;
    width: 45%;
    height: 65%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(174, 171, 171);
}
.btn.btn-dark{
    width: 100%;
}

