#imglogo {
        width: 100px;
        height: 60px;
        margin-left: 60px;
    }
.resize {
    width: 350px;
    height : 300px;
}
.home{
    height: 450px;
    width: 700px;
    
}

/* styles the home page */
#welcome {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(55, 55, 55);
    padding-top: 50px;
    text-align: center;   
}
#whyus{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 30px;
}
.list{
    margin-left: 30px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.locationt{
    font-size: 25px;
    
}
.location{
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;

}
.col-sm-6{
    background-color: rgb(242, 242, 242, 0.3);
    
}

html, body {
	height: 90%;
}

#zarwash {
    color: cornflowerblue;
    margin-top: 30px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
::placeholder {
font-size:14px;
letter-spacing:0.5px;
}
/* Edits login input */
.form-control-lg {
	font-size: 16px;
	padding: 25px 20px;
	border-radius: 50;
    height: 20px;
    float: right;
}
.bg-image {
	background: url(Images/cleaning-1837328_960_720.jpeg);
	background-position: center;
}
/* container for login page */
.container {
	/* height: 80%; */
    width: 200%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 765px;
	margin-top: 20px;
}
.form-control-lg {
    height: 20px;
    float: right; 
}
.navbar-expand-lg{
    margin-top: 20px;
}
.copyright{
    text-align: center;
    font-size: 15px;
    /* margin-left: 67%; */
    color: rgba(116, 113, 113, 0.7);
}


/* stylying the register form */

.zacarwashregister {
    margin-top: 30px;
    background-color: azure;
    font-size: 40px;
    color: #0d6efd; 
    text-align: center;  
}
.register {
    background: rgb(149, 184, 248); 
    width: 650px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 100px;
    text-align: center;
}
.registrationform {
    margin-top: 20px;
    width: 90%;
    border: none;
    border-radius: 12px;
    padding: 8px;   
}
select {
    margin-top: 20px;
    width: 90%;
    border: none;
    border-radius: 12px;
    padding: 9.5px;
    color: grey;
}
.buttonregistration {
    margin-top: 20px;
    width: 95%;
    border: none;
    border-radius: 12px;
    padding: 8px;
    font-size: 20px;
}
.form1{
    width: 50%;
    float: left;
}

.form2{
    width: 50%;
    float: right;
}
button:hover{
    background-color: rgb(92, 146, 247);
}

/* styling the carwashtracker form */
.carwashtrack{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;  
}
.packageheading{
    padding-left: 400px;
    font-size: 10px;
}
.card{
    height: 80px;
}
.card-header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
}
.card-body{
    width: 160px;
    height: 50px;
    padding: 0px;
    text-align: center;
}
.list-group-flush{
    text-align: center;
    display: inline;

}
hr {
    box-shadow: 0 20px 20px -20px #333;
}

.costmonitorform{
    background: rgb(163, 193, 241); 
    width: 700px;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
} 
.costmonitor{
    margin-top: 20px;
    width: 90%;
    height: 40px;
    border: none;
    padding: 5px;   
}
.costmonitorbutton{
    margin-top: 20px;
    width: 95%;
    height: 15%;
    border: none;
    padding: 5px;
    font-size: 20px;
}
.part1{
    float: left;
    width: 50%;
} 
.part2{
    float: left;
    width: 50%;
} 
#costmonitorpackages{
    margin-top: 20px;
    width: 90%;
    height: 40px;
    border-radius: 0px; 
    padding: 5px;
}
/* styling the expense.html */
.inventheader{
    text-align: center;
    margin-top: 40px;
    color: #4087f0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    background-color: azure;
    
    
}
.expenseinput{
    width: 250px;
}

.expense{
    text-align: center;
    width: 60%;
    height: 30%;
    margin:auto;
    margin-top: 40px;

}
.tableheader{
    font-size: 20px;
    padding: 0px;
}
.table-bordered{
    border: #9cbff4;
}
#items{
    border: 1px solid;
    width: 250px;
    height: 30px;
    border-radius: 0px;
    margin-top: 0px;
    padding: 0px;   
}

.expensebutton{
    width: 800px;
    height: 40px;
    border: none;
    padding: 0px;
    font-size: 20px;

}